.details-view {
  .btn-return {
    padding-left: 20px;

    img {
      height: 30px;
    }
  }

  .creation-date {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

    div {
      border-radius: 5px;
      border: 1px solid $color-orange;
      padding: 5px;
    }
  }

  .div-total {
    display: grid;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .header {
    margin: 15px 15px;

    img {
      width: 100%;
      border-radius: 5px;
    }

    .price-per-kilogram {
      padding-top: 10px;
      display: flex;
      justify-content: flex-end;
      font-weight: bold;

      .kilogram {
        padding: 3px 20px;
        color: white;
        background-color: $color-dark-green;
        border-radius: 15px;
        margin-right: 10px;
      }

      .price-kg {
        padding: 3px 10px 3px 0;
      }
    }

    .description {
      padding: 0 20px;

      .price-per-kilogram2 {
        padding-top: 10px;
        display: none;
        justify-content: flex-end;
        font-weight: bold;

        .kilogram2 {
          padding: 3px 20px;
          color: white;
          background-color: $color-dark-green;
          border-radius: 15px;
          margin-right: 10px;
        }

        .price-kg2 {
          padding: 3px 10px 3px 0;
        }
      }
    }
  }

  .footer {
    padding: 0 15px;

    img {
      width: 100%;
    }

    .description {
      padding: 0 30px;
    }

    .title-green {
      color: $color-dark-green;
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .add-bag {
    margin-bottom: 100px;

    .kilograms {
      padding-left: 15px;
    }

    .input-container {
      height: 100%;
      display: flex;
      justify-content: center;
    }

    .btn-container {
      height: 100%;
      display: flex;
      align-items: flex-end;

      button {
        border-radius: 5px;
        border: none;
        background-color: $color-orange;
        padding: 5px;
        color: $color-white;
        outline: none;
        &:hover {
          border: 1px solid $color-orange;
          opacity: 0.8;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .details-view .header {
    .price-per-kilogram {
      display: none;
    }
    .description {
      .price-per-kilogram2 {
        display: flex;
        justify-content: start;
        position: fixed;
      }
    }
  }

  .details-view {
    padding: 15px 100px;

    .add-bag {
      margin-bottom: 30px;

      .btn-container {
        display: flex;
        justify-content: flex-end;
      }
      .input-container {
        height: 100%;
        display: flex;
        justify-content: start;
      }
    }
  }
}
