.btn-orange {
  color: $color-white;
  background-color: $color-orange;
  border-radius: 5px;
  border: none;
  min-width: 104px;
  height: 35.18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-green {
  color: $color-white;
  background-color: $color-green;
  border-radius: 5px;
  border: none;
  min-width: 104px;
  height: 35.18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
