.btn-orange {
  background-color: $color-orange;
  border: none;
  font-family: $font-family;
  min-width: 104px;
  height: 35.18px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
}

.btn-product-anchors-center {
  padding: 0;
  color: $color-dark-green;
  text-shadow: none;
  background-color: white;
  border: none;
  font-family: $font-family;
  font-weight: lighter;
  font-size: 11.5px;
  width: 65px;
  height: 26px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
}

.btn-product-anchors-aboutus {
  padding: 0;
  color: $color-orange;
  background-color: white;
  text-shadow: none;
  font-weight: lighter;
  font-size: 11.5px;
  border: none;
  font-family: $font-family;
  width: 65px;
  height: 26px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
}

@media (min-width: 480px) {
  .btn-product-anchors-center {
    font-size: 13.5px;
    width: 115px;
    height: 29px;
  }
  .btn-product-anchors-aboutus {
    font-size: 13.5px;
    width: 115px;
    height: 29px;
  }
}

.btn-orange-categories {
  display: none;
  @media (min-width: 480px) {
    display: block;
    margin-left: 30px;
    background-color: $color-orange;
    border: none;
    font-family: $font-family;
    min-width: 104px;
    height: 35.18px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:focus {
      background-color: $color-orange;
      opacity: 0.8;
    }
    &:hover {
      background-color: $color-orange;
      opacity: 0.8;
    }
  }
}

.btn-orange-categories2 {
  display: block;
  background-color: $color-orange;
  border: none;
  font-family: $font-family;
  width: 28px;
  height: 28px;
  text-shadow: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
  @media (min-width: 480px) {
    display: none;
  }
}

.btn-orange-login {
  background-color: $color-orange;
  border: none;
  font-family: $font-family;
  width: 80px;
  padding: unset;
  justify-content: center;
  height: 30.18px;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
}

@media (min-width: 480px) {
  .btn-orange-login {
    margin-right: 20px;
  }
}

.btn-outline-orange {
  border: 2px solid $color-orange;
  background-color: transparent;
  font-family: $font-family;
  min-width: 104px;
  height: 35.18px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
}

.btn-outline-orange-signup {
  background-color: transparent;
  border: 2px solid $color-orange;
  font-family: $font-family;
  width: 80px;
  padding: unset;
  justify-content: center;
  height: 30.18px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
}

.btn-green {
  background-color: $color-green;
  border: none;
  min-width: 104px;
  height: 35.18px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-green;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-green;
  }
}

.btn-orange-address-return {
  display: block;
  background-color: $color-orange;
  border: none;
  font-family: $font-family;
  width: 28px;
  height: 28px;
  text-shadow: none;
  margin-left: 12px;
  margin-top: 12px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
  @media (min-width: 480px) {
    margin: 20px;
  }
}
