.btn-orange {
  background-color: $color-orange;
  border: none;
  min-width: 104px;
  height: 35.18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-orange;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-orange;
    opacity: 0.8;
  }
}

.btn-green {
  background-color: $color-green;
  border: none;
  min-width: 104px;
  height: 35.18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:focus {
    background-color: $color-green;
    opacity: 0.8;
  }
  &:hover {
    background-color: $color-green;
  }
}
