.card-address-container {
  //   border: 1px solid red;
  width: 292px;
  min-height: 217px;
  border-radius: 8px;
  //   margin: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.19);

  .card-address-header {
    background-color: $color-green;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 3px 0;
    text-align: center;

    h3 {
      color: $color-white;
    }
  }

  .card-address-body {
    padding: 15px;

    .contact-information {
      display: flex;
      align-items: center;

      img {
        margin: 5px 10px 5px 0;
      }

      p {
        height: 100%;
        margin: 0 0 0 5px;
        display: flex;
        align-items: center;
      }
    }

    .card-button-container {
      display: flex;
      justify-content: space-around;
      margin: 15px 0 5px 0;
    }
  }
}
