html {
  --lh: 1.4rem;
  line-height: var(--lh);
}

.wrapper-cardHarvest {
  .card-harvest {
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
    font-family: $font-family;
    width: 230px;
  }

  .meta-cardHarvest {
    &.module {
      width: auto;
      margin: 0 0 1em 0;
      overflow: hidden;
    }
    &.overflow {
      --max-lines: 2.5;
      font-size: 11px;
      position: relative;
      max-height: calc(var(--lh) * var(--max-lines));
      overflow: hidden;
      padding-right: 1rem; /* space for ellipsis */
    }
    @media (min-width: 480px) {
      &.overflow {
        font-size: 16px;
        --max-lines: 3.9;
      }
      .ant-card-meta-title {
        font-size: 25px;
      }
      .col-precio-cardHarvest {
      }
    }
    &.overflow::before {
      position: absolute;
      //content: "...";
      // inset-block-end: 0;
      // inset-inline-end: 0;
      bottom: 0px;
      right: 5px;
    }
    &.overflow::after {
      content: "";
      position: absolute;
      // inset-inline-end: 0;
      right: 0;
      width: 1rem;
      height: 1rem;
      background: white;
    }
  }

  .productor-cardHarvest {
    .avatar-cardHarvest {
      bottom: -1px;
    }
    .col-precio-cardHarvest {
      @media (min-width: 480px) {
        .precio-cardHarvest {
          font-size: 19px;
        }
      }
    }
    .precio-cardHarvest {
      font-size: 12px;
      color: #383a46;
      font-weight: bolder;
      float: right;
    }
    @media (min-width: 480px) {
      font-size: 18px;
    }
  }

  .ant-card-meta-title {
    color: #606060;
  }

  .ant-card {
    font-size: 10px;
  }

  .ant-card-body {
    padding: 10px;
  }

  .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0;
  }

  .ant-card-cover img {
    border-radius: 6px 6px 6px 6px;
  }

  .ant-card-cover > * {
    display: flex;
    align-content: center;
    width: 92%;
  }

  .ant-avatar {
    width: 23px;
    height: 23px;
    margin-left: 7px;
  }

  .ant-card-cover > * {
    display: flex;
    align-content: center;
    width: 99%;
    padding: 6px;
  }

  .ant-card-meta-description {
    display: flex;
    align-items: center;
  }

  .ant-row {
    margin-top: 13px;
    display: flex;
    align-items: center;
  }

  .ant-card-meta {
    margin: -9px 0;
    margin-left: 7px;
  }
  @media (min-width: 480px) {
    .card-harvest {
      width: 535px;
    }
    .cardHarvest-img {
      width: 530px;
      height: 192px;
      object-fit: cover;
    }
  }
}
