.categories-container {
  z-index: 1;
  background-color: $color-orange;
  width: 100%;
  height: 0px;
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -ms-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: height 350ms ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 19px;
  border-top-left-radius: 19px;
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;

  &.is-visible {
    display: block;
    height: auto;
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.mw {
  margin: 0;
  padding: 5px 0;
  width: inherit;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

  &.first {
    margin-top: 15px;
  }

  &.last {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.categories-img {
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

.categories-name {
  display: flex !important;
  align-items: center !important;

  h3 {
    display: flex;
    align-items: center;
    color: white;
    margin: 0;
  }
}

.btn-categories {
  display: none;
}

@media (min-width: 576px) {
  .parent-container {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: none;

    &.is-visible {
      display: block;
      height: auto;
    }
  }

  .categories-container {
    margin: 0;
    padding: 10px;
    width: 0;
    height: 0;
    transition: height 3s;

    &.is-visible {
      transition: height 3s;
      display: block;
      width: 524px;
      height: 131px;
      background-color: $color-orange;
      position: fixed;
      left: 30px;
      top: 30px;
      border-radius: 6px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  .mw {
    height: 50%;
    width: 30%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;

    &.first {
      margin-top: 0;
    }

    &.last {
      border: none;
    }
  }

  .categories-img {
    padding: 5px 0;
    display: flex;
    justify-content: center;
  }

  .categories-name {
    display: flex !important;
    align-items: center !important;

    h3 {
      display: flex;
      align-items: center;
      color: white;
      margin: 0;
    }
  }
  .btn-categories {
    margin-left: 30px;
    display: flex;
  }
}
