.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: white;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  color: white;
}

.ant-avatar {
  width: 36px;
  height: 36px;
}

.ant-dropdown-menu-item {
  a {
    color: #f29e00;
    &:hover {
      color: white;
      background: #f29e00;
    }
  }
}

// .ant-dropdown-menu-item > a:hover {
//   color: white;
//   background: #f29e00;
// }

// .ant-dropdown-menu-item > a {
//   color: #f29e00;
// }

.dropdown {
  right: 500px;
}

.navbar {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  height: 81px;
  display: flex;
  align-items: center;
  background: $color-dark-green;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 0px 19px -9px rgba(0, 0, 0, 0.65);
}
.perfil {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  div {
    p {
      margin: -2px;
    }
  }
}

@media (min-width: 480px) {
  .nombre-perfil {
    display: none;
  }

  .rol-perfil {
    display: none;
  }
  .icons2 {
    width: 30px;
    height: 30px;
    display: inline-flex;
  }
  .message-desk {
    margin-right: 17px;
  }
  .shopping-desk {
    margin-right: 8px;
  }
}

@media (max-width: 480px) {
  .nombre-perfil {
    color: white;
    font-family: $font-family;
    font-size: 11px;
    font-weight: bold;
  }

  .rol-perfil {
    color: white;
    font-family: $font-family;
    font-size: 9px;
    font-weight: 300;
    text-align: end;
  }
  .icons2 {
    display: none;
  }
}
