@import "./variables";

@import "./components/button.scss";
@import "./components/customInput.scss";
@import "./components/cardShoppingCar.scss";
@import "./components/menuFooter.scss";
@import "./components/cardHarvest.scss";
@import "./components/navBar.scss";
@import "./components/cardAddress.scss";
@import "./components/categories.scss";
@import "./components/search.scss";
@import "./components/formAddress.scss";
@import "./components/inputKilograms.scss";
@import "./components/customSelect.scss";
@import "./components/product.scss";
@import "./components/home.scss";
@import "./components/address.scss";
